.projects-page {
    background-color: #f2dcb3;
    height: 45vw;
}

.projects-table {
    flex-direction: column;
    text-align: center;
}

.projects-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#projects-switcher{
    flex-basis: 10%;  /* button width */
    background-color: #f2dcb3;
    border-radius: 10px;
    font-size: 5vw;
    text-align: center;
    height: 27.5vw;
    border: none;
}

#projects-switcher:hover{
    transform: scale(1.1);
}

.project-card {
    flex-basis: 60vw; /* card width */
}

@media (max-width: 900px) {
    .projects-page {
        height: 105vw;
    }
    .projects-row {
        display: flex;
        justify-content: center;
        height: 27.5vw;
    }
    #projects-switcher{
        flex-basis: 25%;
        height: 35%;
        font-size: 7vw;
        margin: 0% 2.5% 0% 2.5%;
    }
    .project-card {
        flex-basis: 100vw;
    }
}
