.projects-page {
    background-color: #f2dcb3;
    height: 50vw;
}

.projects-table {
    display: flex;
    flex-direction: column;
    padding: 0% 2.5% 7.5% 2.5%;
    text-align: center;
}

.projects-header p {
    font-size: 1.5vw;
}

.projects-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 27.5vw;
}

.projects-row button{
    flex-basis: 5%;
    margin: 0% 2.5% 0% 2.5%;
    background-color: #f2dcb3;
    color: black;
    border-radius: 10px;
}

.project-card {
    flex-basis: 50%;
}

#contacts-btn {
    align-self: center;
    margin: 5vw 0% 0% 0%;
    transition-property: scale;
    transition-duration: 0.5s;
    background-color: #967969;
    height: 3.5vw;
    cursor: pointer;
    color: black;
}

#contacts-btn:hover {
    transform: scale(1.1);
}

@media (max-width: 900px) {
    .projects-page {
        height: 155vw;
    }
    .projects-header {
        margin: 7.5% 0% 0% 7.5%;
    }
    .projects-table {
        padding: 0%;
        height: 100vw;
    }
    .projects-header b {
        text-align: center;
        font-size: 5vw;
    }
    .projects-row button{
        width: 20%;
        margin: 0% 2.5% 0% 2.5%;
    }
    .projects-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 27.5vw;
    }
    .projects-card {
        flex-basis: 60vw;
    }    
    #contacts-btn {
        width: 30vw !important;
        margin-top: 30vw;
        height: 10vw;
        font-size: 4vw !important;    }
}
