.flipped {
  display: none;
}

.experience-card {
  display: flex;
  flex-direction: column;
  background-color: #f2dcb3;
  border: 1px solid #dbdbdb;
  width: 30vw;
  height: 60vh;
  margin: 0% 5% 5% 5%;
  cursor: pointer;
  overflow: auto;
}

.experience-image {
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin: 5% 0% 0% 0%;
  max-height: 35vh;
  object-fit: contain;
}

.card-content {
  padding: 1.25rem;
}

.title {
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 0vh;
}

.subtitle {
  font-size: 2vh;
  color: #666;
  margin-bottom: 0.75rem;
}

.description {
  margin: 5%;
  font-size: 1.5vw;
  color: black;
  overflow-wrap: break-word;
}

.skills {
  margin: 5%;
  margin-top: auto;
  font-size: 1vw;
}

@media (max-width: 900px) {
  .experience-htext {
    width: 50%;
  }
  .experience-table {
    padding-top: 15vw;
  }
  .experience-card {
    width: 80vw;
    height: 80vw;
  }
  .experience-image {
    max-height: 50vw;
  }
  .title {
    font-size: 2vh;
  }
  .description {
    font-size: 5vw;
    overflow-wrap: break-word;
  }
  .skills {
    font-size: 5vw;
  }
}