.experience-card {
  background-color: #f2dcb3;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 30vw;
  height: 31vw;
  margin: 5%;
  cursor: pointer;
  transition: 1s;
}

.front {
  display: flex;
  flex-direction: column;
}

.experience-image {
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin: 5% 0% 5% 0%;
  max-height: 20vw;
  object-fit: contain;
}

.card-content {
  padding: 1.25rem;
}

.title {
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.subtitle {
  font-size: 1rem;
  color: #666;
  margin-bottom: 0.75rem;
}

.description {
  margin: 5%;
  font-size: 2vw;
  color: black;
  overflow-wrap: break-word;
}

.flipped {
  display: none;
}


@media (max-width: 900px) {
  .experience-card {
    width: 70vw;
    height: 70vw;
  }
  .experience-image {
    max-height: 40vw;
  }
}