/* Add styles for the dropdown container */
.dropdown-container {
    display: flex;
    align-items: center;
    position: relative;
    transition: transform 0.5s;
  }
  
  .dropdown-container:hover {
    transform: scale(1.1);
  }
  
  .dropdown-toggle{
    background-color: #967969;
  }

  .dropdown-item, .dropdown-item a {
    width: 108%;
    color: inherit;
    text-decoration: none;
  }

  @media (max-width: 900px) {
    .dropdown-container {
      margin: 0% 5% 0% 0%;
    }
  }
  