/* Add styles for the dropdown container */
.dropdown-container {
  position: relative;
}
  
.dropdown-toggle{
  background-color: #967969;
  border-color: black;
}

.dropdown-item, .dropdown-item a {
  width: 108%;
}

@media (max-width: 900px) {
  .dropdown-container {
    margin: 0% 2.5% 0% 0%;
  }
}
  