.about-page {
    background-color: #967969;
    height: 50vw;
}

.about-header {
    padding: 5% 7.5% 2.5% 7.5%;
}

.about-table {
    display: flex;
    flex-wrap: wrap;
    padding: 0% 10% 7.5% 10%;
}

.about-col {
    margin: 0% 2.5% 0% 2.5%;
    flex-grow: 2;
    flex-basis: 20%;
    align-items: center;
    justify-content: center;
}

.about-col p {
    font-size: 1.5vw;
}