.navbar {
  background-color: #967969;
  font-size: 20px;
  position: fixed;
  width: 100%;
  top: 0%;
  min-height: 5%;
  z-index: 100;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 1% 0% 1% 0%;
  width: 100%;
}

.navbar-nav {
  justify-content: center;
  display: flex;
  list-style: none;
  padding: 0;
}

.navbar-nav .nav-item {
  padding: 0% 10% 0% 10%;
}

.navbar-nav .nav-link {
  color: black;
  text-decoration: none;
  color: inherit;
}

.navlink:hover {
  color: beige;
}

.side-container {
  width: 15%;
  display: flex;
  justify-content: center;
  margin: 0% 15% 0% 15%;
  transition: transform 0.5s;
}

.navbar-container img {
  max-width: 40px;
  width: auto;
  height: auto;
}

#btn {
  color: black;
  background-color: #F5F5DC;
  text-align: center;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.side-container:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* Add media query to hide regular Navbar on smaller screens */
@media (max-width: 900px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
  }
  .side-container {
    margin: 0%;
  }
}
