.intro-table {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0% 20% 0% 20%;
    height: 50vw;
}

.intro-col {
    margin: 0% 1% 0% 1%;
    flex-grow: 2;
    flex-basis: 20%;
    align-items: center;
    justify-content: center;
}

.intro-header {
    font-size: 6vw;
}

p {
    font-size: 2vw;
}

.random-text-container {
    text-align: top;
    height: 8%;
    display: flex;
    margin: -5% 0% 10% 0%;
    flex-direction: column;
}  

.random-text-container p{
   font-size: 3vw;
}  

a {
    text-decoration: none;
    color: inherit;
}

#intro-btn {
    transition-property: scale;
    transition-duration: 0.5s;
    background-color: #967969;
    height: 15%;
    cursor: pointer;
    margin: 5% 0% 0% 0%;
}

#intro-btn:hover {
    transform: scale(1.1);
}

@media (max-width: 900px) {
    .intro-table {
        padding: 0% 5% 0% 5%;
        height: 110vw;
    }
    .intro-header {
        text-align: center;
        font-size: 11vw;
    }
    p {
        font-size: 4vw;
        line-height: 100%;
        margin-bottom: 2.5%;
    }
    .random-text-container {
        margin: 0% 0% 10% 0%;
    }
    .random-text-container p{
        font-size: 5vw;
     }  
    #intro-btn {
        height: 25%;
        background-color: #967969;
        margin: 10% 0% 5% 0%;
        font-size: 4vw !important;
    }
    #intro-btn:hover {
        transform: scale(1.1);
    }
}
