.intro-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 3.5vh;
    line-height: 3vh;
}

.intro-page p {
    font-size: 4vh;
}

.intro-header {
    font-size: 12vh;
    margin: 3vh 0 7.5vh 0;
}

.random-text-container {
    display: flex;
    flex-direction: column;
}  

.random-text-container p{
   font-size: 3vw;
}  

#about-btn {
    font-size: 4vh;
    height: 10vh;
    max-width: 40vw;
    transition: 1s;
    background-color: #967969;
    color: black;
    cursor: pointer;
    animation: scaleEffect 4s infinite;
    margin: 1.5% 0% 0% 0%;
}

#about-btn:hover {
    box-shadow: 0 0 50px #967969;
}

@media (max-width: 900px) {
    .intro-page {
        margin-top: 20vh;
        padding: 0% 5% 0% 5%;
    }
    .intro-page p {
        font-size: 2.5vh;
    }
    .intro-header {
        text-align: center;
        font-size: 11vw;
    }
    .random-text-container p{
        font-size: 7vw;
     }  
    #about-btn {
        height: 7.5vh;
        font-size: 5vw !important;
    }
}
