.socials-page {
    background-color: #967969;
    height: 50vw;
}

.socials-header {
    padding-top: 10%;
    font-size: 3vw;
}

.socials-table {
    display: flex;
    flex-wrap: wrap;
    padding: 2.5% 10% 7.5% 10%;
}

.socials-col {
    margin: 0% 2.5% 0% 2.5%;
    flex-grow: 2;
    flex-basis: 20%;
}

.socials-col p {
    font-size: 1.5vw;
}

.socials-icons-container {
    margin-top: 15%;
}

#intro-btn {
    transition-property: scale;
    transition: 1s;
    background-color: #f2dcb3;
    height: 5vw;
    margin: 5% 0% 0% 0%;
    color: black;
    transform: translateX(20%);
    cursor: pointer;
}

#intro-btn:hover {
    transform: translateX(20%) scale(1.1);
}

@media (max-width: 900px) {
    .socials-page {
        height: 210vw;
        margin-top: 0%;
    }
    .socials-table {
        padding: 5% 5% 0% 5%;
    }
    .socials-col {
        flex-direction: column;
        flex-basis:100%;
    }
    .socials-icons-container {
        margin-top: 105;
    }
    .socials-header b {
        font-size: 6vw;
    }
    .socials-col p {
        font-size: 4vw;
    }
    #intro-btn {
        height: 20vw;
        font-size: 5vw !important;
    }
}
