.socials-page {
    background-color: #967969;
    height: 100vh;
    padding-top: 14vh;
}

.socials-header {
    font-size: 6vh;
}

.socials-table {
    display: flex;
    padding: 0% 22.5% 0% 22.5%;
}

.socials-col {
    flex-grow: 2;
    flex-basis: 0%;
}

.socials-col p {
    font-size: 3vh;
}

.socials-icons-container {
    padding-top: 15vh;
}

#intro-btn {
    font-size: 4vh;
    transition-property: scale;
    transition: 2s;
    background-color: #f2dcb3;
    height: 10vh;
    margin-top: 5%;
    color: black;
    cursor: pointer;
}

#media-btn {
    font-size: 4vh;
    transition: 1s;
    background-color: #f2dcb3;
    height: 10vh;
    margin: 7.5% 0% 0% 20%;
    color: black;
    cursor: pointer;
    animation: fadeEffect 4s infinite;
}

#intro-btn:hover {
    transform: scale(1.1);
}

@media (max-width: 900px) {
    .socials-page {
        height: 100vh;
        padding-top: 4vh;
    }
    .socials-table {
        padding: 0% 5% 0% 5%;
        flex-direction: column;
    }
    .socials-icons-container {
        padding-top: 1%;
    }
    .socials-header b {
        font-size: 6vw;
    }
    .socials-col p {
        font-size: 4vw;
    }
    #intro-btn, #media-btn {
        height: 20vw;
        font-size: 5vw !important;
    }
    #media-btn {
        height: 20vw;
        margin-left: 0;
    }
}
