.experience-page {
    height: 100vh;
    padding-top: 9vh;
  }

.experience-header {
    margin: 0% 5% 0% 5%;
    font-size: 3.5vh;
    display: flex;
    justify-content: space-between;
  }

.experience-header p, .experience-header p b{
    margin-top: 0;
  }

.experience-subtext {
    font-size: 2.5vh;
    margin-top: -2.5%;
  }

#projects-btn {
    font-size: 3vh;
    height: 3.5vw;
    min-width: 20vw;
    transition: 1s;
    background-color: #f2dcb3;
    color: black;
    cursor: pointer;
    animation: scaleEffect 4s infinite;
  }

#projects-btn:hover {
    box-shadow: 0 0 50px #967969;
  }
  
.experience-table {
    margin: 0% 2.5% 0% 2.5%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

.experience-table::-webkit-scrollbar {
    width: 0px;
  }
  
.experience-table::-webkit-scrollbar-track {
    background-color: #dddddd;
  }
  
.experience-table::-webkit-scrollbar-thumb {
    background-color: gray;
  }

.experience-container {
    scroll-snap-align: start;
    margin-right: 1vw;
  }

@media (max-width: 900px) {
    .experience-page {
      height: 100vh;
      padding-top: 3vh;
    }
    .experience-header {
      font-size: 3vh;
    }
    .experience-table {
      flex-direction: column;
      height: 60vh;
      overflow-y: auto;
    }
    #projects-btn {
        height: 15vh;
        font-size: 2vh !important;
    }
  }