@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: beige;
  color: black;
}

.content {
  margin-top: calc(5% + 60px);
}

a {
  text-decoration: none;
  color: inherit;
}