.card-title {
    font-size: 2vw;
}

.card-subtitle {
    font-size: 1vw;
}   

.card-text {
    font-size: 1.5vw;
}

.project-image {
    height: 27.5vw;
    border: 2px solid black;
    border-radius: 5%;
}
  

@media (max-width: 900px) {
    .card-title {
        font-size: 4vw !important;
    }
    
    .card-subtitle {
        font-size: 3vw !important;
    }   
    
    .card-text {
        font-size: 3.5vw !important;
    }

    .project-image {
        height: 70vw;
    }
}