.projects-header {
    background-color: #f2dcb3;
    color: black;
    padding-top: 2.5%;
    margin: 0% 5% 2.5% 5%;
}

.projects-header b {
    font-size: 2.5vw !important;
}

#contacts-btn {
    margin-top: 0;
}

hr {
    border: none;
    border-top: 0.5vw solid black;
    border-radius: 5px; 
    height: 0px;
    opacity: 100%;
}

.text-header {
    text-align: left;
}

.upper-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0%;
}

@media (max-width: 900px) {
    .projects-header b {
        font-size: 4vw !important;
    }
    #contacts-btn {
        font-size: 3vw !important;
    }
    
}