.projects-header {
    background-color: #f2dcb3;
    color: black;
    padding: 2.5% 5% 0 5%;
}

.projects-header b {
    font-size: 5vh;
}

#contacts-btn {
    transition: 1s;
    background-color: #967969;
    height: 7vh;
    cursor: pointer;
    color: black;
    animation: scaleEffect 5s infinite;
}

#contacts-btn:hover {
    box-shadow: 0 0 50px rgba(255, 255, 255, 1);
}

.upper-header {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 900px) {
    .projects-header {
        padding-top: 10%;
    }
    .projects-header b{
        font-size: 6vh;
    }
    #contacts-btn {
        height: 15vh;
        font-size: 2.5vh !important;  
    }
}