.projects-header {
    background-color: #f2dcb3;
    color: black;
    padding-top: 2.5%;
    margin: 0% 5% 1% 5%;
}

.projects-header b {
    font-size: 2.5vw;
}

#contacts-btn {
    margin-top: 0;
    transition-property: scale;
    transition: 1s;
    background-color: #967969;
    height: 3.5vw;
    cursor: pointer;
    color: black;
}

#contacts-btn:hover {
    transform: scale(1.1);
}

.upper-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 900px) {
    .projects-header b {
        font-size: 4vw;
    }
    #contacts-btn {
        height: 10vw;
        font-size: 3vw !important;  
    }
}